header {
	background: #BBBBBB;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

h1 {
	text-align: center;
	font-size: 40px;
	font-family: arial;
}

main {
	width: 1100px;
	margin: 0 auto;
}

.cadastro {
	margin: 40px 0;
	font-family: arial;
}

.cadastro label {
	display: inline;
	font-size: 20px;
	margin: 0 10px;
}

.cadastro input {
	display: inline;
	margin: 0 10px;
	padding: 10px 25px;
	width: 15%;
}

.busca {
	margin: 40px 0;
	font-family: arial;
}

.busca label {
	display: inline;
	font-size: 20px;
	margin: 0 10px;
}

.busca input {
	display: inline;
	margin: 0 10px;
	padding: 10px 25px;	
	width: 15%;
}

.tabela-vendas, .tabela-produtos {
	margin: 20px 0 40px;
	font-family: arial;
} 

.tabela-vendas, .tabela-produtos thead {
	background: #c2c2c2;
	font-weight: bold;
	font-size: 20px;
}

th, td {
	border: 1px solid #000000;
	padding: 8px 15px;
}

footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 40px 0;
}